In [17]:
import pandas as pd

In [45]:
df = pd.read_csv(r"C:\Users\basil\OneDrive\Escritorio\Ironhack\labs\lab-customer-analysis-round-1\files_for_lab\csv_files\file1.csv")
df
df.columns = df.columns.str.upper()
df
new_order = ["CUSTOMER", "GENDER", "ST","EDUCATION" ,"INCOME", "CUSTOMER LIFETIME VALUE", "VEHICLE CLASS", "POLICY TYPE", "NUMBER OF OPEN COMPLAINTS", "MONTHLY PREMIUM AUTO", "TOTAL CLAIM AMOUNT"]
df = df[new_order]
df

,CUSTOMER,GENDER,ST,EDUCATION,INCOME,CUSTOMER LIFETIME VALUE,VEHICLE CLASS,POLICY TYPE,NUMBER OF OPEN COMPLAINTS,MONTHLY PREMIUM AUTO,TOTAL CLAIM AMOUNT
0,RB50392,NaN,Washington,Master,0.0,NaN,Four-Door Car,Personal Auto,1/0/00,1000.0,2.704934
1,QZ44356,F,Arizona,Bachelor,0.0,697953.59%,Four-Door Car,Personal Auto,1/0/00,94.0,1131.464935
2,AI49188,F,Nevada,Bachelor,48767.0,1288743.17%,Two-Door Car,Personal Auto,1/0/00,108.0,566.472247
3,WW63253,M,California,Bachelor,0.0,764586.18%,SUV,Corporate Auto,1/0/00,106.0,529.881344
4,GA49547,M,Washington,High School or Below,36357.0,536307.65%,Four-Door Car,Personal Auto,1/0/00,68.0,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df1 = pd.read_csv(r"C:\Users\basil\OneDrive\Escritorio\Ironhack\labs\lab-customer-analysis-round-1\files_for_lab\csv_files\file2.csv")
df1
df1.columns = df1.columns.str.upper()
df1

,CUSTOMER,ST,GENDER,EDUCATION,CUSTOMER LIFETIME VALUE,INCOME,MONTHLY PREMIUM AUTO,NUMBER OF OPEN COMPLAINTS,TOTAL CLAIM AMOUNT,POLICY TYPE,VEHICLE CLASS
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.200000,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.200000,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75%,63513,70,1/0/00,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91%,58161,68,1/0/00,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41%,83640,70,1/0/00,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38%,0,96,1/0/00,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39%,0,111,1/0/00,700.349052,Personal Auto,SUV

In [46]:
df2 = pd.read_csv(r"C:\Users\basil\OneDrive\Escritorio\Ironhack\labs\lab-customer-analysis-round-1\files_for_lab\csv_files\file3.csv")
df2
df2.columns = df2.columns.str.upper()
df2
df2 = df2.rename(columns={'STATE':'ST',})
df2

,CUSTOMER,ST,CUSTOMER LIFETIME VALUE,EDUCATION,GENDER,INCOME,MONTHLY PREMIUM AUTO,NUMBER OF OPEN COMPLAINTS,POLICY TYPE,TOTAL CLAIM AMOUNT,VEHICLE CLASS
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [25]:
df.shape

(4008, 11)

In [26]:
df1.shape

(996, 11)

In [27]:
df2.shape

(7070, 11)

In [64]:
data = pd.concat([df, df1, df2], axis=0)
data

,CUSTOMER,GENDER,ST,EDUCATION,INCOME,CUSTOMER LIFETIME VALUE,VEHICLE CLASS,POLICY TYPE,NUMBER OF OPEN COMPLAINTS,MONTHLY PREMIUM AUTO,TOTAL CLAIM AMOUNT
0,RB50392,NaN,Washington,Master,0.0,NaN,Four-Door Car,Personal Auto,1/0/00,1000.0,2.704934
1,QZ44356,F,Arizona,Bachelor,0.0,697953.59%,Four-Door Car,Personal Auto,1/0/00,94.0,1131.464935
2,AI49188,F,Nevada,Bachelor,48767.0,1288743.17%,Two-Door Car,Personal Auto,1/0/00,108.0,566.472247
3,WW63253,M,California,Bachelor,0.0,764586.18%,SUV,Corporate Auto,1/0/00,106.0,529.881344
4,GA49547,M,Washington,High School or Below,36357.0,536307.65%,Four-Door Car,Personal Auto,1/0/00,68.0,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,M,California,Bachelor,71941.0,23405.98798,Four-Door Car,Personal Auto,0,73.0,198.234764
7066,PK87824,F,California,College,21604.0,3096.511217,Four-Door Car,Corporate Auto,0,79.0,379.200000
7067,TD14365,M,California,Bachelor,0.0,8163.890428,Four-Door Car,Corporate Auto,3,85.0,790.784983
7068,UP19263,M,California,College,21941.0,7524.442436,Four-Door Car,Personal Auto,0,96.0,691.200000
7069,Y167826,M,California,College,0.0,2611.836866,Two-Door Car,Corporate Auto,0,77.0,369.600000

In [69]:
data['CUSTOMER LIFETIME VALUE'] = data['CUSTOMER LIFETIME VALUE'].astype(str)
data['CUSTOMER LIFETIME VALUE'] = data['CUSTOMER LIFETIME VALUE'].str.replace('%', '')
data['CUSTOMER LIFETIME VALUE'] = data['CUSTOMER LIFETIME VALUE'].astype(float)

In [70]:
data.dtypes

CUSTOMER                      object
GENDER                        object
ST                            object
EDUCATION                     object
INCOME                       float64
CUSTOMER LIFETIME VALUE      float64
VEHICLE CLASS                 object
POLICY TYPE                   object
NUMBER OF OPEN COMPLAINTS     object
MONTHLY PREMIUM AUTO         float64
TOTAL CLAIM AMOUNT           float64
dtype: object

In [53]:
data = data.drop(columns=["EDUCATION","NUMBER OF OPEN COMPLAINTS"])
data

,CUSTOMER,GENDER,ST,INCOME,CUSTOMER LIFETIME VALUE,VEHICLE CLASS,POLICY TYPE,MONTHLY PREMIUM AUTO,TOTAL CLAIM AMOUNT,CUSTOMER,...,VEHICLE CLASS,CUSTOMER,ST,CUSTOMER LIFETIME VALUE,GENDER,INCOME,MONTHLY PREMIUM AUTO,POLICY TYPE,TOTAL CLAIM AMOUNT,VEHICLE CLASS
0,RB50392,NaN,Washington,0.0,NaN,Four-Door Car,Personal Auto,1000.0,2.704934,GS98873,...,Four-Door Car,SA25987,Washington,3479.137523,M,0,104,Personal Auto,499.200000,Two-Door Car
1,QZ44356,F,Arizona,0.0,697953.59%,Four-Door Car,Personal Auto,94.0,1131.464935,CW49887,...,SUV,TB86706,Arizona,2502.637401,M,0,66,Personal Auto,3.468912,Two-Door Car
2,AI49188,F,Nevada,48767.0,1288743.17%,Two-Door Car,Personal Auto,108.0,566.472247,MY31220,...,Two-Door Car,ZL73902,Nevada,3265.156348,F,25820,82,Personal Auto,393.600000,Four-Door Car
3,WW63253,M,California,0.0,764586.18%,SUV,Corporate Auto,106.0,529.881344,UH35128,...,Luxury Car,KX23516,California,4455.843406,F,0,121,Personal Auto,699.615192,SUV
4,GA49547,M,Washington,36357.0,536307.65%,Four-Door Car,Personal Auto,68.0,17.269323,WH52799,...,Two-Door Car,FN77294,California,7704.958480,M,30366,101,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,LA72316,California,23405.987980,M,71941,73,Personal Auto,198.234764,Four-Door Car
7066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,PK87824,California,3096.511217,F,21604,79,Corporate Auto,379.200000,Four-Door Car
7067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,TD14365,California,8163.890428,M,0,85,Corporate Auto,790.784983,Four-Door Car
7068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UP19263,California,7524.442436,M,21941,96,Personal Auto,691.200000,Four-Door Car
7069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Y167826,California,2611.836866,M,0,77,Corporate Auto,369.600000,Two-Door Car

In [71]:
data['CUSTOMER LIFETIME VALUE'] = data['CUSTOMER LIFETIME VALUE'] * 100
data

,CUSTOMER,GENDER,ST,EDUCATION,INCOME,CUSTOMER LIFETIME VALUE,VEHICLE CLASS,POLICY TYPE,NUMBER OF OPEN COMPLAINTS,MONTHLY PREMIUM AUTO,TOTAL CLAIM AMOUNT
0,RB50392,NaN,Washington,Master,0.0,NaN,Four-Door Car,Personal Auto,1/0/00,1000.0,2.704934
1,QZ44356,F,Arizona,Bachelor,0.0,6.979536e+07,Four-Door Car,Personal Auto,1/0/00,94.0,1131.464935
2,AI49188,F,Nevada,Bachelor,48767.0,1.288743e+08,Two-Door Car,Personal Auto,1/0/00,108.0,566.472247
3,WW63253,M,California,Bachelor,0.0,7.645862e+07,SUV,Corporate Auto,1/0/00,106.0,529.881344
4,GA49547,M,Washington,High School or Below,36357.0,5.363076e+07,Four-Door Car,Personal Auto,1/0/00,68.0,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,M,California,Bachelor,71941.0,2.340599e+06,Four-Door Car,Personal Auto,0,73.0,198.234764
7066,PK87824,F,California,College,21604.0,3.096511e+05,Four-Door Car,Corporate Auto,0,79.0,379.200000
7067,TD14365,M,California,Bachelor,0.0,8.163890e+05,Four-Door Car,Corporate Auto,3,85.0,790.784983
7068,UP19263,M,California,College,21941.0,7.524442e+05,Four-Door Car,Personal Auto,0,96.0,691.200000
7069,Y167826,M,California,College,0.0,2.611837e+05,Two-Door Car,Corporate Auto,0,77.0,369.600000

In [72]:
data.drop_duplicates()

,CUSTOMER,GENDER,ST,EDUCATION,INCOME,CUSTOMER LIFETIME VALUE,VEHICLE CLASS,POLICY TYPE,NUMBER OF OPEN COMPLAINTS,MONTHLY PREMIUM AUTO,TOTAL CLAIM AMOUNT
0,RB50392,NaN,Washington,Master,0.0,NaN,Four-Door Car,Personal Auto,1/0/00,1000.0,2.704934
1,QZ44356,F,Arizona,Bachelor,0.0,6.979536e+07,Four-Door Car,Personal Auto,1/0/00,94.0,1131.464935
2,AI49188,F,Nevada,Bachelor,48767.0,1.288743e+08,Two-Door Car,Personal Auto,1/0/00,108.0,566.472247
3,WW63253,M,California,Bachelor,0.0,7.645862e+07,SUV,Corporate Auto,1/0/00,106.0,529.881344
4,GA49547,M,Washington,High School or Below,36357.0,5.363076e+07,Four-Door Car,Personal Auto,1/0/00,68.0,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,M,California,Bachelor,71941.0,2.340599e+06,Four-Door Car,Personal Auto,0,73.0,198.234764
7066,PK87824,F,California,College,21604.0,3.096511e+05,Four-Door Car,Corporate Auto,0,79.0,379.200000
7067,TD14365,M,California,Bachelor,0.0,8.163890e+05,Four-Door Car,Corporate Auto,3,85.0,790.784983
7068,UP19263,M,California,College,21941.0,7.524442e+05,Four-Door Car,Personal Auto,0,96.0,691.200000
7069,Y167826,M,California,College,0.0,2.611837e+05,Two-Door Car,Corporate Auto,0,77.0,369.600000